body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Container styles */
.containerCalc {
    width: 100%;
    max-width: 600px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    box-sizing: border-box;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
.form-group label {
    display: block;
    margin-bottom: 5px;
}

/* Select styles */
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Input styles */
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Button styles */
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* CSS стил за таблицата */
.container {
    width: 1600px;
    height: 750px;
    overflow: auto;
    padding: 20px;
    margin: 20px auto;

}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #3b3838;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

@media (max-width: 768px) {
    .container {
        overflow-x: scroll;
    }
}
